*{
}
/*======= container geral =======*/
.generalContainer{
	
}
/*======== header ==============*/
header{
	height: 320px;
}
header > img{
	position: absolute;
	width: 100%;
}
/*navbar*/
#searchlogin{
	margin-left: 55%;
}
/*botão login*/
#loginButton{
	background-color: orange;
	text-shadow: 1px 1px white;
	margin-top: 8px; 
}
/*botão submit*/
#submit{
margin: 8px 15px 0px -10px; 
}

/*Titulo da barra de cima*/
a.navbar-header{
	margin-right: 20%;
}
a.navbar-brand>span{
text-shadow:1px 1px lightgray;
font-family: "Lucida Handwriting", Lucida;
color: #800000;
}

#colunaNome{
	width: auto;
	margin-top: -10px;
	padding-top: 30px;
	font-family: "Palatino";
}

/*modal*/
.modal {
  text-align: center;
}
/*centralizar modal*/
@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

#formBody{
	display:inline-block;
}
/*form-control*/
#forms-login{
	width:73%;
}
/*parágrafo de cadastro*/
#ask_cadastro{
	margin-top: 20px;
		width: 27%;
		text-align: center;
}
#cadastro{
	background-color: lightgreen;
}
/*==========================*/

#logo{
	height: 190px;
	width: 240px;
	border-radius: 20px;
	position: relative;
	left: -40px;
	margin-top: 90px;
}
#esquina{
	font-size: 80px;
}
#e{
	font-size: 140px;
	margin-right: -30px; 
}
.nome{
	margin-top: 90px;
}
h1.nome{
	font-size: 50px;
	text-align: center;
	font-family: "Lucida Handwriting", Lucida;
	text-shadow: 1px 1px white;
	color: black; 
	margin-left: 150px;
}
h2.nome{
	font-size: 40px;
	text-align: center;
	font-family: "Lucida Handwriting", Lucida;
	text-shadow: 1px 1px gray;
	color: #660000; 
	margin-top: -80px;
}
div.slogan{
	width: 600px;
}

p.slogan{
	font-size: 25px;
	text-align: center;
	font-family: "Lucida Handwriting", Lucida;
	color: #e60000; 
	text-shadow: 1px 1px gray;
	margin-top: -10px;
	margin-bottom: 35px;
}
span.slogan{
	font-size: 25px;
	text-align: center;
	font-family: "Lucida Handwriting", Lucida;
	color: #660000; 
	text-shadow: 1px 1px gray;
	margin-top: -10px;
}

#ContainerArticle{
	background-color: white;
}

/*primeiro item da lista de menu afastado para o centro*/
#lifirst{
	position: relative;
	margin-left:35%;
}

/*Items da lista do menu*/
#listitem{
background-image: linear-gradient(0deg, #b35900,#ff8c1a);
color: white;
font-family: "Palatino Linotype", Palatino;
font-size: 20px;
margin-left: 10px;
}

/*Barra de menu*/
#navBar{
margin-bottom: -10px;
background-image: linear-gradient(0deg,#b35900,#ff8c1a);
}

/*Carrossel*/
#ContainerCarrousel{
	border: outset 5px lightgray;
	border-radius: 10px;
}
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      border: groove 5px white;
  }

#myCarousel{
	width: 100%;
	margin-top: -15px;
	
}

/*=================Artigo===================*/

#phpContainer{
	padding: 20px;
	border: outset 2px lightgray;
}
img.listprod{
	height: 280px;
}

#linkItem{
	text-decoration: none;
	font-size: 18px;
}

#listprod{
	text-decoration: none;
}

.listprod>hr{
	margin-top: -5px;
	margin-bottom: -5px;
	font-family: "Palatino", Palatino; 
}

#comprar{
	float: right;
	margin-right: 100px;
	background-color: blue;
	color: white;
}
#submitCompra{
	float: right;
	margin-right: 100px;
	background-color: blue;
	color: white;
}

#centerArticle{
	border: outset 2px lightgray;
	position: relative;
	margin: 0 auto;
	width: 100%;
	border-radius: 20px; 
	}
h1.centerArticle{
	text-align: center;
}
#coluna4{
	border: outset 1px lightgray;
	height: 300px;
	padding: 5px;
	border-radius: 10px;
}

#coluna4>ol{
	list-style-type: none;
	text-align: left;
	font-size: 20px;
	text-transform: uppercase; 
	font-family: "Palatino",Palatino;
}
/*Produtos*/
#produto{
	height: 280px;
	width: 360px;

}
#produto:hover{
	height: 290px;
	width: 370px;

	 opacity: 1;
    box-shadow: inset 0 0 100px 50px rgba(0,0,0,.5);
}



/*footer*/
footer{
	background-color: lightgray;
	height: 50px;
	padding-top: 10px;
	
}
#footerspace{
	width: 45%;
}